<nav id="school-nav">
	<div class="grid-x grid-container">
		<div id="header-links">
			<ul id="quick-links" class="clearfix">
				<li>
					<a href="https://mycom.marin.edu">
						<svg class="icon-gold-lock"><use xlink:href="/themes/custom/echotimes/images/sprite.svg#icon-gold-lock" /></svg>
						MyCOM
					</a>
				</li>
				<li>
					<a href="#main" id="skip-to-content" data-scroll>
						<svg class="icon-gold-down"><use xlink:href="/themes/custom/echotimes/images/sprite.svg#icon-gold-down" /></svg>
						Skip to Content
					</a>
				</li>
				<li>
					<a href="#footer" id="maps-link" data-scroll>
						<svg class="icon-gold-map-pin"><use xlink:href="/themes/custom/echotimes/images/sprite.svg#icon-gold-map-pin" /></svg>
						Maps
					</a>
				</li>
			</ul>

			<gcse:search id="header-search"></gcse:search>
		</div>
	</div>

	<div id="top-nav">
		<ul class="grid-container">
			<li><a href="https://{{com_url_home_prefix}}marin.edu/admissions">Admissions</a></li>
			<li><a href="https://{{com_url_home_prefix}}marin.edu/academics">Academics</a></li>
			<li><a href="https://{{com_url_home_prefix}}marin.edu/students">Students</a></li>
			<li><a href="https://{{com_url_home_prefix}}marin.edu/campus-life">Campus Life</a></li>
			<li><a href="https://{{com_url_home_prefix}}marin.edu/faculty-staff">Faculty/Staff</a></li>
			<li><a href="https://{{com_url_home_prefix}}marin.edu/administration">Administration</a></li>
			<li><a href="https://{{com_url_home_prefix}}marin.edu/about-com">About COM</a></li>
			<li><a href="https://{{com_url_prefix}}advancement.marin.edu/">Support COM</a></li>
		</ul>
	</div>

	<div id="sub-nav">
		<div class="grid-container">
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/admissions">Admissions Home</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/events/academic-calendar">Academic Calendar</a></li>				
				<li><a href="https://{{com_url_home_prefix}}marin.edu/apply">Apply for Admission</a></li>
				<li><a href="https://{{com_url_prefix}}es.marin.edu">Enrollment Services</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/high-school-programs">High School Programs</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/orientation">Orientation</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/paying-college">Paying for College</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/assessment">Placement Testing</a></li>
				<li><a href="https://mycom.marin.edu/">Register for Classes</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/academics">Academics Home</a></li>
				<li><a href="https://{{com_url_prefix}}academics.marin.edu">Academic Programs</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/articulation">Articulation</a></li>				
				<li><a href="https://{{com_url_prefix}}cte.marin.edu">Career &amp; Technical Education</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/schedule">Class Schedules &amp; Catalogs</a></li>
				<li><a href="https://marin.elumenapp.com/catalog/current/program-and-course-descriptions">Degrees &amp; Certificates</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/learning-communities">Learning Communities</a></li>
				<li><a href="https://{{com_url_prefix}}ol.marin.edu">Online Learning</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/students">Students Home</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/campus-store">Bookstore</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/career-services">Career Services</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/counseling">Counseling</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/international-students">International Students</a></li>
				<li><a href="https://{{com_url_prefix}}library.marin.edu">Libraries</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/sas">Student Accessibility Services</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu">Student Services</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/tcc">Transfer Center</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/tutoring-labs">Tutoring / Labs</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/veterans">Veteran Services</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/campus-life">Campus Life Home</a></li>
				<li><a href="https://{{com_url_prefix}}athletics.marin.edu">Athletics</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/comcard">COM Card / Student ID</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/community-programs">Community Education &amp; Programs</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/community-hour">COMmunity Hour</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/events">Events and Activities</a></li>
				<li><a href="https://{{com_url_prefix}}gallery.marin.edu">Fine Arts Gallery</a></li>
				<li><a href="https://{{com_url_prefix}}pa.marin.edu">Performing Arts</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/science-museum">Science Museum</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/saa/ascom">Student Government</a></li>
				<li><a href="https://{{com_url_prefix}}ss.marin.edu/saa/student-clubs">Student Organizations</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/faculty-staff">Faculty/Staff  Home</a></li>
				<li><a href="https://{{com_url_prefix}}as.marin.edu">Academic Senate</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/assessment-and-program-review">Assessment/Program Review</a></li>
				<li><a href="https://{{com_url_prefix}}cs.marin.edu">Classified Senate</a></li>
				<li><a href="https://{{com_url_prefix}}as.marin.edu/cc">Curriculum Committee</a></li>
				<li><a href="https://netapps.marin.edu/Apps/Directory/EmployeeSearch.aspx">Employee Directory</a></li>
				<li><a href="https://{{com_url_prefix}}as.marin.edu/handbook">Faculty Handbook</a></li>
				<li><a href="https://{{com_url_home_prefix}}gov.marin.edu">Participatory Governance</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/professional-learning">Professional Learning</a></li>
				<li><a href="https://{{com_url_prefix}}cs.marin.edu/classified-professionals-handbook">Staff Handbook</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/administration">Administration Home</a></li>
				<li><a href="https://{{com_url_prefix}}police.marin.edu">Campus Police</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/college-operations">Administrative Services</a></li>
				<li><a href="https://{{com_url_prefix}}fiscal.marin.edu">Fiscal Services</a></li>
				<li><a href="https://{{com_url_prefix}}hr.marin.edu">Human Resources</a></li>
				<li><a href="https://{{com_url_prefix}}it.marin.edu">Information Technology</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/maintenance-operations">Maintenance &amp; Operations</a></li>
				<li><a href="https://{{com_url_prefix}}president.marin.edu">Office of the President</a></li>
				<li><a href="https://{{com_url_prefix}}prie.marin.edu">Planning &amp; Research</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/student-learning-services">Student Learning/Success</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_home_prefix}}marin.edu/about-com">About COM</a></li>
				<li><a href="https://{{com_url_prefix}}accreditation.marin.edu">Accreditation</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/board-trustees">Board of Trustees</a></li>
				<li><a href="https://{{com_url_prefix}}prie.marin.edu/emp">Educational Master Plan</a></li>
				<li><a href="https://{{com_url_prefix}}prie.marin.edu/factbooksearch">Fact Book</a></li>
				<li><a href="https://{{com_url_prefix}}legacy.marin.edu">History &amp; Highlights</a></li>
				<li><a href="http://measurebcom.org">Measure B</a></li>
				<li><a href="https://{{com_url_home_prefix}}marin.edu/mission">Mission</a></li>
				<li><a href="https://{{com_url_prefix}}policies.marin.edu">Policies &amp; Procedures</a></li>
			</ul>
			<ul>
				<li class="home"><a href="http://{{com_url_prefix}}advancement.marin.edu">Support COM</a></li>
				<li><a href="https://{{com_url_prefix}}alumni.marin.edu">Alumni / Donor Stories</a></li>
				<li><a href="https://{{com_url_prefix}}advancement.marin.edu/establishing-student-scholarship">Establish a Scholarship</a></li>
				<li><a href="https://secure.everyaction.com/avudBiwSqUivqS4RZ_56Yw2">Giving to COM</a></li>
				<li><a href="https://{{com_url_prefix}}advancement.marin.edu/pillars-philanthropy">Pillars of Philanthropy</a></li>
				<li><a href="https://{{com_url_prefix}}advancement.marin.edu/1926-legacy-society">Planned Giving</a></li>
				<li><a href="https://{{com_url_prefix}}advancement.marin.edu/presidents-circle">President's Circle</a></li>
			</ul>
			<a href="#" id="touch-nav-back">&lt; Back</a>
		</div>
	</div>
</nav>
